<div class="loading">
  <p>U</p>
  <p>Ü</p>
  <div class="avertissement">
    <button class="btn--load">
      <div class="info">OK</div>
    </button>
    {{ .Site.Params.Warning | markdownify }}
  </div>
</div>

<audio class="son" loop preload>
  <source src="{{ "/etc/son.mp3" | relURL }}" type="audio/mpeg" />
</audio>

<button class="btn btn--header btn--menu">
  <div class="info">

    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 463 463"
      xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 463 463">
      <path
        d="m395.195,67.805c-43.724-43.725-101.859-67.805-163.695-67.805s-119.971,24.08-163.695,67.805-67.805,101.859-67.805,163.695 24.08,119.971 67.805,163.695 101.859,67.805 163.695,67.805 119.971-24.08 163.695-67.805 67.805-101.859 67.805-163.695-24.08-119.971-67.805-163.695zm52.8,164.076l-28.262-20.533-22.851-72.013 10.909-33.572c26.115,36.448 40.209,80.007 40.209,125.737 0,0.127-0.004,0.254-0.005,0.381zm-28.827,107.726h-43.791l-23.061-70.974 60.373-43.863 34.532,25.089c-2.663,31.927-12.256,62.428-28.053,89.748zm-119.276,52.313l-60.892-44.241v-36.75l63.922-46.443 34.979,8.321 23.28,71.649-61.289,47.464zm-136.835,.037l-61.047-48.089 23.125-71.173 34.619-8.444 64.246,46.677v36.75l-60.943,44.279zm-147.279-142.098l34.532-25.088 60.373,43.864-23.061,70.973h-43.79c-15.797-27.321-25.39-57.822-28.054-89.749zm63.536-103.252h76.702l24.202,30.843-23.421,72.083-35.102,8.562-63.019-45.786 20.638-65.702zm112.102-81.607h80.167l23.411,72.049-23.975,30.951h-79.149l-23.988-30.57 23.534-72.43zm192.038,81.607l20.852,65.713-63.11,45.853-34.883-8.299-23.564-72.524 23.815-30.743h76.89zm-151.954,151.23l-60.373-43.863 23.061-70.974h74.625l23.061,70.974-60.374,43.863zm165.152-206.33l-13.03,40.1h-74.624l-23.062-70.973 35.827-26.03c23.078,10.594 44.333,25.315 62.825,43.807 4.223,4.224 8.238,8.597 12.064,13.096zm-91.195-63.595l-30.402,22.088h-87.109l-30.402-22.088c23.392-8.482 48.333-12.912 73.956-12.912s50.564,4.43 73.957,12.912zm-227.046,50.5c18.492-18.492 39.747-33.213 62.825-43.807l35.827,26.03-23.062,70.973h-74.624l-13.029-40.1c3.826-4.499 7.841-8.873 12.063-13.096zm-23.203,27.351l10.786,33.198-22.74,72.396-28.25,20.524c0-0.127-0.005-0.254-0.005-0.381 0.001-45.73 14.095-89.288 40.209-125.737zm-1.856,248.844h38.052l64.104,50.498 10.692,32.907c-32.771-10.32-62.799-28.434-87.789-53.424-9.329-9.329-17.691-19.367-25.059-29.981zm130.138,88.08l-12.364-38.052 60.373-43.864 60.373,43.863-12.365,38.053c-15.574,3.509-31.652,5.313-48.007,5.313-16.356,0-32.434-1.804-48.01-5.313zm201.099-58.098c-24.99,24.99-55.019,43.104-87.79,53.424l10.736-33.04 65.035-50.366h37.078c-7.368,10.614-15.73,20.652-25.059,29.982z" />
    </svg>
  </div>
</button>
<button class="btn btn--header btn--sound">
  <div class="info info--off">
    <svg enable-background="new 0 0 294.843 294.843" version="1.1" viewBox="0 0 294.84 294.84"
      xmlns="http://www.w3.org/2000/svg">
      <path
        d="m251.49 69.611c-2.656 1.981-3.204 5.74-1.224 8.396 15.041 20.172 22.991 44.175 22.991 69.414 0 64.098-52.147 116.25-116.24 116.25-3.313 0-6 2.687-6 6 0 3.314 2.687 6 6 6 70.715 0 128.24-57.531 128.24-128.25 0-27.844-8.773-54.327-25.37-76.587-1.981-2.657-5.74-3.205-8.397-1.223z" />
      <path
        d="m157.01 31.176c22.113 0 43.62 6.231 62.197 18.02 0.997 0.633 2.109 0.935 3.209 0.935 1.986 0 3.929-0.985 5.072-2.786 1.775-2.798 0.946-6.505-1.852-8.281-20.503-13.011-44.233-19.888-68.627-19.888-3.313 0-6 2.687-6 6s2.688 6 6.001 6z" />
      <path
        d="m293.08 1.757c-2.342-2.343-6.143-2.343-8.484 0l-78.454 78.453c-13.786-10.106-30.773-16.092-49.138-16.092-3.313 0-6 2.687-6 6 0 3.314 2.687 6 6 6 15.051 0 29.019 4.7 40.538 12.692l-22.293 22.293c-5.491-2.77-11.687-4.34-18.245-4.34-3.313 0-6 2.687-6 6s2.687 6 6 6c3.18 0 6.237 0.528 9.097 1.489l-89.315 89.315-9.226-9.212c-1.125-1.123-2.649-1.754-4.239-1.754h-51.326v-102.36h51.326c1.59 0 3.114-0.631 4.239-1.754l54.926-54.842v96.776c0 3.313 2.687 6 6 6s6-2.687 6-6v-111.25c0-2.426-1.461-4.613-3.702-5.542-2.242-0.928-4.821-0.417-6.538 1.296l-63.407 63.312h-54.844c-3.313 0-6 2.687-6 6v114.36c0 3.313 2.687 6 6 6h54.844l7.462 7.451-66.548 66.549c-2.343 2.343-2.343 6.142 0 8.485 1.171 1.171 2.707 1.757 4.243 1.757s3.071-0.586 4.243-1.757l66.555-66.555 47.454 47.382c1.147 1.146 2.681 1.754 4.241 1.754 0.773 0 1.554-0.149 2.297-0.458 2.241-0.929 3.702-3.117 3.702-5.542v-74.246c0-3.313-2.687-6-6-6s-6 2.687-6 6v59.776l-37.208-37.152 91.417-91.418c5.517 5.227 8.968 12.613 8.968 20.794 0 15.803-12.856 28.66-28.659 28.66-3.313 0-6 2.687-6 6s2.687 6 6 6c22.42 0 40.659-18.24 40.659-40.66 0-11.49-4.798-21.874-12.487-29.275l21.659-21.659c13.237 12.953 21.473 30.996 21.473 50.934 0 39.317-31.986 71.303-71.304 71.303-3.313 0-6 2.686-6 6 0 3.313 2.687 6 6 6 45.934 0 83.304-37.37 83.304-83.303 0-23.247-9.582-44.29-24.992-59.415l77.763-77.763c2.342-2.343 2.342-6.142-1e-3 -8.485z" />
    </svg>
  </div>
  <div class="info none info--on">
    <svg enable-background="new 0 0 294.843 294.843" version="1.1" viewBox="0 0 294.84 294.84"
      xmlns="http://www.w3.org/2000/svg">
      <g transform="translate(0,4.794)">
        <path
          d="m205.92 24.039c-3.065-1.265-6.571 0.193-7.835 3.256-1.265 3.063 0.193 6.571 3.256 7.835 43.688 18.036 71.917 60.231 71.917 107.5 0 64.098-52.147 116.24-116.25 116.24-3.314 0-6 2.687-6 6s2.686 6 6 6c70.715 0 128.25-57.53 128.25-128.24 0-52.142-31.142-98.691-79.338-118.59z" />
        <path
          d="m157.01 225.93c45.934 0 83.304-37.37 83.304-83.303s-37.37-83.303-83.304-83.303c-3.313 0-6 2.687-6 6 0 3.314 2.687 6 6 6 39.317 0 71.304 31.986 71.304 71.303s-31.987 71.303-71.304 71.303c-3.313 0-6 2.686-6 6s2.687 6 6 6z" />
        <path
          d="m176.54 163.6c-2.424 2.258-2.559 6.055-0.3 8.479 1.182 1.269 2.784 1.911 4.392 1.911 1.464 0 2.932-0.533 4.088-1.61 8.231-7.667 12.952-18.513 12.952-29.757 0-22.419-18.24-40.659-40.66-40.659-3.313 0-6 2.687-6 6s2.687 6 6 6c15.803 0 28.66 12.856 28.66 28.659-1e-3 8.042-3.244 15.491-9.132 20.977z" />
        <path
          d="m130.79 14.84c-2.241-0.928-4.821-0.417-6.538 1.296l-63.408 63.312h-54.844c-3.313 0-6 2.687-6 6v114.36c0 3.313 2.687 6 6 6h57.326c3.313 0 6-2.687 6-6s-2.687-6-6-6h-51.326v-102.36h51.326c1.59 0 3.114-0.631 4.239-1.754l54.926-54.842v215.55l-29.627-29.583c-2.346-2.341-6.145-2.339-8.485 7e-3 -2.341 2.345-2.338 6.144 7e-3 8.485l39.867 39.806c1.147 1.146 2.681 1.754 4.241 1.754 0.773 0 1.554-0.149 2.297-0.458 2.241-0.929 3.702-3.117 3.702-5.542v-244.49c-2e-3 -2.426-1.463-4.613-3.703-5.542z" />
      </g>
    </svg>
  </div>
</button>

<header class="menu">
  <a href="{{ .Site.Params.address | safeHTML }}" target="_blank" rel="noopener" class="title__link">{{
    .Site.Params.Title }}</a>
  <div class="menu__content">
    {{ .Site.Params.Presentation | markdownify }}
  </div>
  <div class="credits">
    {{ .Site.Params.credits | markdownify }}
    <div class="instructions">
      <div class="instructions__desktop">
        (<em>La souris et les flèches directionnelles permettent de s’orienter et de se déplacer dans cet
          antilivre.</em>)
      </div>
      <div class="instructions__mobile">
        (<em>La fonction de zoom permet de s’orienter et de se déplacer dans cet antilivre.</em>)
      </div>
    </div>
  </div>
</header>
